<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/about.css">
</head>
<body>

    <div id="abouttag"></div>
    <div class="aboutcontainer" >
        <h1>About me</h1>
        <br><br>
        <p class="contentAbout" id="firstcontentabout" >
            My name is Nikhil. I am a person who wants to learn something new which 
            is creative. I did my graduation in Political Science(Hons.). I create websites with creativity, efficiency and responsive.
            I am proficient in fundamental front-end Languages(HTML, CSS, REACT.JS....) , 
            server-side languages and also having knowledge of Database (NOSQL).
            <br>
            <br>
            Skillful creating servers and databases for functionality and designing and
            developing api's and so on.....
        </p>
        <br><br>
        <p class="contentAbout">I am an enthusiastic, self-motivated, reliable, responsible and hard working person. I am <span> certified  Full Stack Developer </span> 
             & certified Digital Marketer <a href="https://drive.google.com/file/d/1Gyb3iTDj_BFPwGzghxh6CZ2hIf5EztSZ/view?usp=sharing" target="_blank">(see <i class="fa-solid fa-eye"></i> )</a> also participate in social Activities
            . I got certificate from SAMBANDH HEALTH FOUNDATION for participating in the campaign of <span>#SPITTING KILLS</span> during COVID-19 <a href="https://drive.google.com/file/d/1CiG7u-088cOyQrrBlQibebR8mCbZvSwo/view?usp=sharing" target="_blank">(see <i class="fa-solid fa-eye"></i> )</a>.
        </p>
        <br><br>
        <div>

        </div>

    </div>
</body>
</html>