<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/firstHome.css">
    <title>Document</title>
</head>
<body>
    <div id="hometag"></div>
    <div class="firstHomecont">
        <!-- <div class="firstflexHome">
            <img src="/static/images/nikfolio_image.jpg" alt="NIKHIL_Image">
        </div> -->
        <div class="secondHomecont">
            <h1>Nikhil</h1>
            <br>
            <p><i class="fa-solid fa-map-location-dot"></i> <a style="color: black;" href="https://goo.gl/maps/RMsg2ReyACd1YHj66?coh=178571&entry=tt" target="_blank">Delhi, India</a></p>
            <p class="contentsecondHomecont">
                <h1>Hello, Welcome to my Portfolio</h1>

                Dream It, Create It
            </p>
            <h3>Explore it</h3>
            <h1><i class="fa-solid fa-chevron-down fa-beat-fade"></i></h1>
        </div>

    </div>
    
</body>
</html>

