<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <div class="footer">
        <div class="footerOne">
            <a href="https://www.linkedin.com/in/nikhil-kumar-416a46247/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/nik-89hil" target="_blank"><i class="fa-brands fa-github"></i></a>
            <a href="mailto:nikhilkumar19072002@gmail.com?subject=I want to know...."><i class="fa-regular fa-envelope"></i></a>

        </div>
        <div class="footerSecond">
            <h4><i class="fa-solid fa-copyright"></i>&nbsp;All rights are reserved || 2023</h4>
            <p>Term & Condition Applied</p>
            <h4><a href="/">nikfolio</a></h4>
        </div>
        <div class="footerThree">
            <li><a href="#hometag">Home</a></li>
            <li><a href="#abouttag">About</a></li>
            <li><a href="#hiremetag">Hire me ?</a></li>
            <li><a href="https://drive.google.com/file/d/1kBI1jEMdC6VqQI4o_azgz65Mu9vRF6ov/view?usp=sharing" target="_blank">Download Resume</a></li>

            

        </div>

    </div>
</body>
</html>