<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/fotter.css">
</head>
<body>
   <div class="footerContainer">
    <div  class="footerOne">
        <div><a href="https://www.linkedin.com/in/nikhil-kumar-416a46247/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></div>
        <div><a href="https://github.com/nik-89hil" target="_blank"><i class="fa-brands fa-github"></i></a></div>
        <div><a href="tel:9625696396"><i class="fa-solid fa-square-phone"></i></a></div>
    </div>
    <div class="footertwo">
        <p><i class="fa-solid fa-copyright"></i> All rights are reserved || 2023</p>
        <p><a style="color: black;" href="">Term & Condition applied</a></p>
        <h1><a style="color: blue;" href="/">nikfolio.com</a></h1>
    </div>
    <div class="footerthree">
        <ul>
            <li><a href="#hometag">Home</a></li>
            <li><a href="#abouttag">About</a></li>
            <li><a href="#hiremetag">Hire me?</a></li>
            <li><a href="https://1drv.ms/w/s!AqV7j4DMZ1qkzz4scqw7nEAnJ1ET" target="_blank">Download Resume</a></li>
        </ul>
    </div>
   </div>
</body>
</html>