<link rel="stylesheet" href="/static/css/fotter.css">

<body>
    <div class="fotterContainer">
        <div class="fotter_first">
            <ul>
                <li><a style="color: red;">Useful Links</a></li>
                <li><a href="/">Intro</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/contact-me">Contact</a></li>
                <li><a href="/admin">Admin</a></li>
                <li><a href="https://drive.google.com/file/d/1BI2JfztpI3IXfTpxSWOf8bpb63Nw7-1x/view?usp=sharing" target="_blank">download resume</a></li>
            </ul>
        </div>
        <div class="fotter_middle">
            <p>Term & condition Applied <i id="tick" class="fa-regular fa-circle-check"></i></p>
            <p><i class="fa-solid fa-copyright"></i> All rights are reserved || 2023</p>
            <p><a href="/" id="lastTagnikfolio">nikfolio.com</a></p>
        </div>
        <div class="fotterIcon">
            <span id="commenticon"><a href="mailto:nikhilkumar19072002@gmail.com?subject= write your subject"><i class="fa-regular fa-comment"></i></a></span>
            <span id="githubicon"><a href="https://github.com/nik-89hil" target="_blank"><i class="fa-brands fa-github"></i></a></span>
            <span id="linkedinicon"><a href="https://www.linkedin.com/in/nikhil-kumar-416a46247/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></span>

        </div>
    </div>

</body>