<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/hireme.css">
    <title>Document</title>
</head>

<body>
    <div  id="hiremetag"></div>
    <div class="hirmeContainer">
        <br><br>
        <h1>Hire me?</h1>
        <h5>Dream it, Create it</h5>
        <br><br>
        <h2>Your content automatically looks its best across devices</h2>
        <p>Carefully created themes help make your content stand out. Sites intelligently optimises your work so that it
            looks great on desktop, tablet and mobile.</p>
        <br>
        <h2>free templates or customize it</h2>
        <p>Various free templates for you whatever you want, make it creative for you, easily customize your websites.
        </p>
        <br>
        <h2>make your online presence</h2>
        <p>enhance your online experience create store, static pages, forms, portfolio and so on...</p>
        <br>

        <h2><span class="animate-charcter">Animated design</span> to enhance user experience</h2>
        <p>creativity attracts everyone make your website more creative, animated and with highest efficiency at low
            cost. </p>



    </div>


</body>

</html>

