<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/hireme.css">
    <title>Document</title>
</head>

<body>
    <div class="hiremecontainer">
        <br>
        <button>Need Help For Your Website ?</button>
        <br><br><br>
        <h1>Your content automatically looks its best across devices</h1>
        <br><br>
        <p class="hirecontent">
            Carefully created themes help make your content stand out.
            Sites intelligently optimises your work so that it looks great on
            desktop, tablet and mobile..
        </p>
        <br><br><br><br>
        <h1>Start with a stunning theme</h1>
        <br><br>
        <p class="hirecontent">
            Our layouts make it simple to get started. Fresh designs make it easy to make a beautiful, responsive
            website for any industry.
        </p>
        <br><br><br><br>
        <h1>Customize with your own content</h1>
        <br><br>
        <p class="hirecontent">
            Add and customize sections. Choose font pairings, add images, and customize with your own text to make your
            website your own.
        </p>
        <br><br><br><br>
        <h1>Beautiful websites for any goal.</h1>
        <h4>make your online presence stand out</h4>
        <br><br>

        <ul class="listforhire" >
            <li>
                <span>Photographer Portfolios , Static Pages</span>
            </li>
            <li>
                <span>Small Business Sites, Survey Forms , </span>
            </li>
            <li>Online Stores and Landing Pages</li>
            <li>More on your need tell us....</li>
        </ul>
        <br><br><br>
        <h1>Low Cost , High Efficiency</h1>


    </div>







    <!--  -->
</body>

</html>



<!-- <form name="submit-to-google-sheet">
    <label for="Name">Your Name</label><br>
    <input type="text" name="Name" required><br><br>
    <label for="Email">Your Email</label><br>
    <input type="email" name="Email" placeholder="abc@gmail.com" required><br><br>
    <label for="Message">Message</label><br>
    <textarea name="Message" cols="30"  rows="10" placeholder="write here..." required>

    </textarea>
    <br><br>
    <input class="submitbutton" type="submit" value="submit">
    <span id="success" style="color: white;"></span>
</form> -->