<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="/static/css/sidebar.css">
</head>
<body>
    <br>
    <div class="contentOne" >
        <br>
        <h3>Hello &#9995; Everyone, </h3>
        <br><br>
        <p>My name is Nikhil. I am a person who wants to learn something new which 
            is creative. I create websites with creativity , efficiency and responsive.
            I am proficient in fundamental front-end Languages(HTML, CSS, REACT.JS....) , 
            server-side languages and also having knowledge of Database (NOSQL).
            Skillful creating servers and databases for functionality and designing and
            developing api's and so on..... <br>
        </p>
        <ul>
            <li>Certified in Digital Marketing (2020).</li>
            <li>Certification for participation in <span> <b>#SPITTINGKILLS</b> campaign.</span></li>
            <li>Certified in Social Media Maketing (2020).</li>
        </ul>
        <br><br><br>
        <div class="imagescont">
            <div>
                <img class="slide" src="/static/images/digitalMarketing.jpg" alt="certificate_images">
                <img class="slide" src="/static/images/socialmedia.jpg" alt="certificate_images">
                <img class="slide" src="/static/images/spitKill.jpg" alt="certificate_images">
            </div>
        </div>
        <div style="text-align: center; margin-top: 20px;"><button id="firstButt" onclick="goPrev()"><i
                    class="fa-solid fa-circle-arrow-down" style="color: black;"></i></button></div>
    </div>

    <br><br><br>

    <script>
        let arr = document.querySelectorAll(".slide")
console.log(arr)


arr.forEach((s,i)=>{
    s.style.bottom = `${i*100}%`

}) 

let counter =2;
function goPrev(){
    if(counter<0){
        counter = 2;
    }
    console.log(counter);
    arr.forEach((s)=>{
        s.style.transform = `translateY(${counter *100}%)`
    })
    counter--;
}

    </script>

</body>
</html>