<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/navbar.css">
    <title>Document</title>
    
</head>
<body>
    <div class="navbar">
        <div class="firstdivNav">
            <h1><a href="/" style="text-decoration: none; color: blue;">nikfolio</a></h1>
        </div>
        <div class="extra">

        </div>
        <div class="secondDivNav">
            <div >
                <a href="#hometag"><i class="fa-solid fa-house"></i>&nbsp;Home</a>
            </div>
            <div>
                <a href="#skillstag">Skills</a>
            </div>
            <div>
                <a href="#projecttag">Projects</a>
            </div>
            <div>
                <a href="#hiremetag">Hire Me ?</a>
            </div>
            <div>
                <a href="#abouttag">About</a>
            </div>
            <div>
                <button id="follow" onclick="diplayshow()" >follow this page</button>
            </div>
        </div>
        <div>
            <button id="follow2" onclick="diplayshow()" >follow this page</button>
        </div>
        
    </div>
        <div class="pageFollow" id="pagefollow">
            <form action="/" method="post">
                <div class="inputfollow">
                    <label for="Name"></label>
                    <input type="email" name="Subscription" placeholder="email" required><button type="submit" id="submitone"><i class="fa-solid fa-paper-plane"></i> send </button>
                </div>
                
            </form>
        </div>


    

    <script>
        window.onload(diplayshow())
        function diplayshow(){
            const divdetail = document.getElementById("pagefollow");
            // console.log(divdetail)
            if(divdetail.style.display === "none"){
                divdetail.style.display = "block"
            }else{
                divdetail.style.display = "none"
            }
        }

      

    </script>
</body>
</html>