<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/projectone.css">
  <title>Document</title>
</head>

<body>
  <div id="projecttag"></div>
  <br><br>
  <h1 style="text-align: center;margin-top: 15px;">Projects</h1>
  <br>
  <div class="projectContainerONe">
    <div class="cards">
      <div class="card red">
        <p class="tip">
        <h3 style="text-decoration: underline;">Airbnb clone App</h3>
        <a href="https://github.com/nik-89hil/airbnb-clone.git" target="_blank">view code</a>
        </p>
        <p class="second-text">
        <ul>
          <li>This is similar like airbnb web(backend project) in which user can look hotels/rooms and having
            login/register functionality.</li>
          <li>Use of proper authentication and authorization, user can only visit web after login or register, creative
            about page.</li>
          <li>Searching functionality user can search hotels by Indian states, Map view and Property registration.</li>
          <li>Use of database(mongoDB), Rest api's, multiple pages, template engines, password hashing and routing.</li>
          <li><b>Technology Used:</b></li>
          <li>
            <button>HTML</button><button>CSS</button><button>BootStrap</button><button>ejs</button><button>JavaScript</button><button>mongoDB</button><button>Node.js</button><button>Express.js</button>
          </li>

        </ul>
        </p>
      </div>
      <div class="card blue">
        <p class="tip">
        <h3 style="text-decoration: underline;">Ecommerce web</h3>
        <a href="https://github.com/nik-89hil/eco.git" target="_blank">view code</a>
        </p>
        <p class="second-text">
        <ul>
          <li>This is similar like ecommerce website (mern project) which has different kind of books and having
            login/register functionality.</li>
          <li>Use of cookies to enhance user experience, user friendly with UI design.</li>
          <li>user authentication and authorization functionality with password hashing. only login/register user can
            place an order. user can access order history.</li>
          <li>payment interface, dynamic routing, cart, user can search book by category for desired result with
            responsive feature and so on.</li>
          <li><b>Technology Used:</b></li>
          <li><button>HTML</button><button>CSS</button><button>React
              BootStrap</button><button>React.js</button><button>JavaScript</button><button>mongoDB</button><button>Node.js</button><button>Express.js</button><button>Rest
              api's</button><button>Redux</button></li>
        </ul>
        </p>
      </div>
      <div class="card green">
        <p class="tip">
        <h3 style="text-decoration: underline;">Static LinkedIn Page || Product Page</h3>
        <a href="https://github.com/nik-89hil/rolex_yasht_master.git" target="_blank">view code Product Page</a>
        <a href="https://github.com/nik-89hil/Static_LinkedIn.git" target="_blank">view code LinkedIn</a>
        </p>
        <p class="second-text">
        <ul>
          <li>Similar interface like LinkedIn.</li>
          <li>creative UI/UX design.</li>
          <li>searchbar, media, post section and all necessary components.</li>
          <li><b>Technology Used:</b></li>
          <li><button>HTML</button><button>CSS</button><button>BootStrap</button><button>JavaScript</button></li>
        </ul>
        </p>
      </div>
      <div class="card yellow">
        <p class="tip">
        <h3 style="text-decoration: underline;">Quiz App & Todo App</h3>
        <a href="https://github.com/nik-89hil/quiz-app.git" target="_blank">view code Quiz app</a>
        <a href="https://github.com/nik-89hil/Todo_with_javascript.git" target="_blank">view code Todo app</a>
        </p>
        <p class="second-text">
        <ul>
          <li>Developed an Quiz app, a dynamic web application using JavaScript.</li>
          <li>Quiz App - subject selection, timer, score, responsive and so on.</li>
          <li>Todo App - search filter, add and delete task with Notification.</li>
          <li><b>Technology Used:</b></li>
          <li><button>HTML</button><button>CSS</button><button>BootStrap</button><button>JavaScript</button></li>
        </ul>
        </p>
      </div>
      <div class="card purple">
        <p class="tip">
        <h3 style="text-decoration: underline;">Quora clone</h3>
        <a href="https://github.com/nik-89hil/Quora__Clone__React.js.git" target="_blank">view code</a>
        </p>
        <p class="second-text">
        <ul>
          <li>Developed an Quora clone app, a dynamic web application using React.js. </li>
          <li>searchbar, media, post section and all necessary components.</li>
          <li>Routing, Landing page, Notification filter, Use of bootstrap and similar UI design.</li>
          <li><b>Technology Used:</b></li>
          <li>
            <button>HTML</button><button>React.js</button><button>BootStrap</button><button>JavaScript</button><button>CSS</button>
          </li>
        </ul>
        </p>
      </div>
      <div class="card brown">
        <p class="tip">
        <h3 style="text-decoration: underline;">more on github..</h3>
        <a href="https://github.com/nik-89hil" target="_blank">view account</a>
        </p>
        <p class="second-text">
        <ul>
          <li>checkout my small projects on github account
            <button class="projectGithub"><a href="https://github.com/nik-89hil" target="_blank"><i class="fa-brands fa-github"></i></a></button>
          </li>
        </ul>
        </p>
      </div>

    </div>
  </div>



</body>

</html>