<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/project.css">
  <title>Document</title>
</head>
<body>

  <div class="projectDiv">
    <h3 >Projects </h3>
    <div class="firstpro">
      <a href="https://github.com/nik-89hil/Static_LinkedIn" target="_blank" class="viewCode">
        <h4>#STATIC_LINKEDIN_PAGE</h4>
        <p>use of HTML5, CSS3 and BOOTSTRAP,</p>
        <p>static linkedin page,</p>
        <p>frontend work , check code </p>
        <P>explore this video <i class="fa-solid fa-circle-arrow-down"></i></P>
      </a>
      <video  controls autoplay>
        <source src="/static/video/static_linkedin.mp4" type="video/mp4">
      </video>

      <a href="https://github.com/nik-89hil/rolex_yasht_master" target="_blank" class="viewCode">
        <h4>#STATIC_PRODUCT_PAGE</h4>
        <p>use of HTML5, CSS3 and BOOTSTRAP,</p>
        <p>frontend work , check code  </p>
        <P>explore this video <i class="fa-solid fa-circle-arrow-down"></i></P>
      </a>
      
      <video controls autoplay>
        <source src="/static/video/productpage.mp4" type="video/mp4">
      </video>
      <a href="https://github.com/nik-89hil/Quora__Clone__React.js" target="_blank" class="viewCode">
        <h4>#QUORA_PAGE_REACT.JS</h4>
        <p>use of react.js and react bootstrap,</p>
        <p>with filter functionality with Login || Register</p>
        <p>Single Page Application</p>
        <p>frontend work , check code  </p>
        <P>explore this video <i class="fa-solid fa-circle-arrow-down"></i></P>
      </a>
      
      <video controls autoplay>
        <source src="/static/video/qoura.mp4" type="video/mp4">
      </video>
    
    </div>
    <br><br><br>
    <a style="margin-left: -1vh;" href="https://github.com/nik-89hil" target="_blank" class="viewCode">for more visit github profile</a>
  </div>


    
  
</body>
</html>