<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/sendMessage.css">
    <title>Document</title>
</head>
<body>
    <div class="messageContainer">
        <h2>connect with :</h2>
        <br>
        <div class="message">
            <br>
            <div><a id="email" href="mailto:nikhilkumar19072002@gmail.com?subject=write your DEMAND"><i class="fa-solid fa-envelope-circle-check"></i></a></div>
            <div><a id="call" href="tel:9625696396">get a call</a></div>
        </div>
    </div>


    
</body>
</html>
