<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>certificates || nikfolio</title>
    <link rel="stylesheet" href="/static/css/certification.css">
    <script src="https://kit.fontawesome.com/b37c45463e.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="post" id="post">
    <div class="post_one">
        <img id="profile_photo" src="/static/images/b55c301a1a084bf5a4028840ad1e93bf.png" alt="photo">
        <p><span style="color:black;">@nikhil_425</span><br><span>5/June/2023</span></p>
    </div>
    <br>
    <div class="postData">
        <p>
            Recently, I successfully completed my Full Stack Development Course. I learned many things in this course even I worked on different projects which helps me a lot to understand
            different tools and technology.
        </p>
    </div>
    <div class="post_tags">
        <button>#full_stack_development</button>
        <button>#success</button>
        <button>#skill_academy</button>
  
    </div>
    <div class="gallery">
        <img src="/static/images/fsd.jpg" style="border: 1px solid black;" alt="image">
    </div>
    <br>
    <div class="codeShare">
        <button><a href="">Certification in Digital Marketing</a> <i class="fa-regular fa-heart"></i></button>
    </div>
</div>
<br>
  <div class="post" id="post">
    <div class="post_one">
        <img id="profile_photo" src="/static/images/b55c301a1a084bf5a4028840ad1e93bf.png" alt="photo">
        <p><span style="color:black;">@nikhil_425</span><br><span>08/15/2000</span></p>
    </div>
    <br>
    <div class="postData">
        <p>
            Successfully completed my Digital Marketing Tutorial. I learned many things in this course like how marketing is necessary in digital world. learn different approaches of digital marketing.  
        </p>
    </div>
    <div class="post_tags">
        <button>#Digital_Marketing</button>
        <button>#skill_academy</button>
    </div>
    <div class="gallery">
        <img src="/static/images/digitalMarketing.jpg" alt="photo">
    </div>
    <br>
    <div class="codeShare">
        <button><a href="">Certification in Digital Marketing</a> <i class="fa-regular fa-heart"></i></button>
    </div>
</div>
<br>
<div class="post" id="post">
  <div class="post_one">
      <img id="profile_photo" src="/static/images/b55c301a1a084bf5a4028840ad1e93bf.png" alt="photo">
      <p><span style="color:black;">@nikhil_425</span><br><span>April-May 2020</span></p>
  </div>
  <br>
  <div class="postData">
      <p>
        I participated in this campaign. this campaign's aim is to aware people about bad habit of spitting and to prevent the spread of covid-19. 
      </p>
  </div>
  <div class="post_tags">
      <button>#spitting_kills</button>
      <button>#covid-19</button>
  </div>
  <div class="gallery">
      <img src="/static/images/spitKill.jpg" alt="image">
  </div>
  <br>
  <div class="codeShare">
      <button><a href="">Certificate of Participation in Spitting kills Campaign</a> <i class="fa-regular fa-heart"></i></button>
  </div>
</div>
<br>
<div class="post" id="post">
  <div class="post_one">
      <img id="profile_photo" src="/static/images/b55c301a1a084bf5a4028840ad1e93bf.png" alt="image">
      <p><span style="color:black;">@nikhil_425</span><br><span>14/Sep/2022</span></p>
  </div>
  <br>
  <div class="postData">
      <p>
        Successfully completed Social Media Marketing online course.
      </p>
  </div>
  <div class="post_tags">
      <button>#Social_Media_Marketing</button>

  </div>
  <div class="gallery">
      <img src="/static/images/socialmedia.jpg" alt="">
  </div>
  <br>
  <div class="codeShare">
      <button><a href="">Certification in Social Media Marketing</a> <i class="fa-regular fa-heart"></i></button>
  </div>
</div>
<br>

<div id="back">
  <span><a href="/">Home <i class="fa-solid fa-house"></i></a></span> <br>
  <span><a href="/skill-set">Skills</a></span><br>
  <span><a href="/projects">Projects</a></span><br>
  <span><a href="/contact-me">Contact</a></span>
</div>
</body>
</html>