<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b37c45463e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/contact.css">
    <title>contact</title>
</head>
<body>
    <%- include('./partials/NavbarOne')  %>
  <br>
  <div class="card">
    <p class="card-title">contact form</p>
    <p class="small-desc">
     *if you want to help for your websites and any static page, survey forms which you want for your business then fill this contact form otherwise you can follow this website for latest update and my upcoming projects. <br>
     <li>Your content automatically looks its best across devices.</li>
     <li>free templates or customize it.</li>
     <li>make your online presence.</li>
     <li>Animated design to enhance user experience and so on.</li>
     
     Thank You !!!
    </p>
    <br><br>
    <p class="small-desc">
       <form action="/contact-me" method="post">
        <input type="email" name="useremail" id="emailwork" placeholder="abcd@gmail.com"><br>
        <input type="number" name="phone" id="phonework" placeholder="+91 98xxx xxxx2"><br>
        <input type="text" name="message" id="textdisplay" placeholder="message">
        <br><br>
        <input type="submit" value="submit form" id="submitwork">
       </form>
    </p>
    <div class="go-corner">
      <div class="go-arrow"><a href="/">→</a></div>
    </div>
  </div>

  <%- include('./partials/fotter') %>
</body>
</html>