<link rel="stylesheet" href="/static/css/firstHome.css">


<div class="homecontainer">
    <div class="profileContainer">
        <p><img src="/static/images/b55c301a1a084bf5a4028840ad1e93bf.png" alt="image"></p>
        <div>
            <p>@nikhil_425</p>
            <span> &nbsp;NIKHIL ||</span>
            <span>Founder of nikfolio.com</span>
        </div>
    </div>
    <div class="profileabout">
        <p>Hi everyone, <br> welcome to this website, this website contain my projects and works. I update this website on regular basis...explore this web. Thanks !!</p>
    </div>
    <div class="post" id="post">
        <div class="post_one">
            <img id="profile_photo" src="/static/images/b55c301a1a084bf5a4028840ad1e93bf.png" alt="photo">
            <p><span style="color:black;">@nikhil_425</span><br><span>22/march/2022</span></p>
        </div>
        <br>
        <div class="postData">
            <p>Static LinkedIn project is my first projects in which I used many tools and technology like HTML5 / CSS3 and BootStrap etc.
                I worked on UI that is similar like LinkedIn Application having different section like post section, group section,
                profile section and LinkedIn news section etc. <br>
                I learned many things in this projects -- <br>
                || Positioning of Html elements (with CSS properties). <br>
                || Better understanding of HTML code. <br>
                || Use of CSS3 for better UI and so on. <br>
            </p>
        </div>
        <div class="post_tags">
            <button>#LinkedIn</button>
            <button>#static page</button>
        </div>
        <div class="gallery">
            <img src="/static/images/linkedinPage.jpg" alt="linkedinPage">
        </div>
        <br>
        <div class="codeShare">
            <button><a href="https://github.com/nik-89hil/Static_LinkedIn.git" target="_blank">view code || static LinkedIn</a> <i class="fa-regular fa-heart"></i></button>
        </div>
    </div>
    <br>
    <div class="post" id="post">
        <div class="post_one">
            <img id="profile_photo" src="/static/images/b55c301a1a084bf5a4028840ad1e93bf.png" alt="photo">
            <p><span style="color:black;">@nikhil_425</span><br><span>18/february/2023</span></p>
        </div>
        <br>
        <div class="postData">
            <p>
                This poject is based on backend work in which I worked on backend by using Node.js, Express.js and so on.
                This website has similar look like airbnb in which :: <br>
                - user can login/register and landing Page.  <br>
                -- user can search hotels and rooms having details of each hotel including map. <br>
                --- user can post his porperty for work with this web. <br>
                ---- user only enter in webiste if login credentials is correct. <br>
                ----- user can book hotels by choosing date, time and location. <br>
                ---- having user profile section so, user can check details. <br>
                --- use of Database : MONGODB <br>
                -- use of HTML5, CSS3, ejs, BootStrap for frontend work. <br>
                - use of different kind of libaries, Node.js, Express.js, Mongodb for backend work. <br>
                <strong>What I learn ::</strong>
                || use of #Authentication and #Authorization. <br>
                || for secure password using hashing. <br>
                || use of NoSql Database (Mongodb). <br>
                || Api's for CRUD operation and routing. <br>
                || work with different modules for enhance backend work <br>
                || work with ejs to prevent hard coding and so on.
            </p>

        </div>
        <div class="post_tags">
            <button>#Airbnb_clone</button>
            <button>#Backend</button>
            <button>#Rest_Api's</button>
            <button>#Database(no sql)</button>
            <button>#Mongodb</button>
            <button>#Node_&_Express</button>
            <button>#Authentication_&_Authorization</button>
        </div>
        <div class="gallery">
            <img src="/static/images/airbnbPage.jpg" alt="">
        </div>
        <br>
        <div class="codeShare">
            <button><a href="https://github.com/nik-89hil/airbnb-clone.git" target="_blank">view code || Airbnb clone </a> <i class="fa-regular fa-heart"></i></button>
        </div>
    </div>
    <br>
    <div class="post" id="post">
        <div class="post_one">
            <img id="profile_photo" src="/static/images/b55c301a1a084bf5a4028840ad1e93bf.png" alt="photo">
            <p><span style="color:black;">@nikhil_425</span><br><span>20/April/2023</span></p>
        </div>
        <br>
        <div class="postData">
            <p>
                This project is for frontend with React.js library. similar UI like Quora application. 
                This website is based on single page application (SPA) to enhance user experience also having #Notification_filtering
                and work with BootStrap, routing and different kind of section like for question answer(post), discover section, create space section and so on...

            </p>
        </div>
        <div class="post_tags">
            <button>#Quora_clone</button>
            <button>#frontend</button>
            <button>#React.js</button>
            <button>#similar_UI/UX</button>
            <button>#Notification_filtering</button>
            <button>#Single_Page_Application(SPA)</button>
        </div>
        <div class="gallery">
            <img src="/static/images/quoraPage.jpg" alt="image_quora">
        </div>
        <br>
        <div class="codeShare">
            <button><a href="https://github.com/nik-89hil/Quora__Clone__React.js.git" target="_blank">view code || Quora clone </a> <i class="fa-regular fa-heart"></i></button>
        </div>
    </div>
    <br>
    <div class="post" id="post">
        <div class="post_one">
            <img id="profile_photo" src="/static/images/b55c301a1a084bf5a4028840ad1e93bf.png" alt="photo">
            <p><span style="color:black;">@nikhil_425</span><br><span>15/May/2023</span></p>
        </div>
        <br>
        <div class="postData">
            <p>
                This project is MERN project. It has same functionality like e-commerce application and
                user can check his order history. user can select items, customize it, different payments methods, searching functionality so user can find desired result.
                user can filter items, user can login/logout, having user profile section so, user can check details and so on.<span id="dots">...</span>
                <span id="more"><br>
                    <strong>What I learn ::</strong><br>
                || work with React Library for frontend. <br>
                || use of #Authentication and #Authorization. <br>
                || for secure password using hashing. <br>
                || use of NoSql Database (Mongodb). <br>
                || Api's for CRUD operation and routing. <br>
                || work with different modules for enhance backend work <br>
                || use of Redux toolkit and so on..
                    
                <p onclick="myFunction()" id="myBtn">Read more</p></span>
                
            </p>
        </div>
        <div class="post_tags">
            <button>#Ecommerce_website</button>
            <button>#MERN</button>
            <button>#Redux toolkit</button>
            <button>#React.js</button>
            <button>#Creative_UI</button>
            <button>#Authentication</button>
            <button>#Authorization</button>
            <button>#Database(mongodb)</button>
            <button>#Add_to_cart, #order_history</button>
        </div>
        <div class="gallery">
            <iframe id="item4" src="https://drive.google.com/file/d/1hm3N-pY0JI9RtyMoRCaZMNUv5UdKgDea/preview"  allow="autoplay"></iframe>
        </div>
        <br>
        <div class="codeShare">
            <button><a href="https://github.com/nik-89hil/ecommerce-web.git" target="_blank">view code || Ecommerce website </a> <i class="fa-regular fa-heart"></i></button>
        </div>
    </div>
    <br>
    <div class="post" id="post">
        <div class="post_one">
            <img id="profile_photo" src="/static/images/b55c301a1a084bf5a4028840ad1e93bf.png" alt="photo">
            <p><span style="color:black;">@nikhil_425</span><br><span>4/June/2023</span></p>
        </div>
        <br>
        <div class="codeShare">
            <p>if you want to see more images and projects go to project section. In project section, I mentioned details about my projects with images and videos... <span class="post_tags"><a href="/projects">#my_projects</a></span></p><br>
            <button><a href="/projects">Check out Projects in Detail</a></button>
        </div>
    </div>
    <!-- <div class="profileabout">
        <p>if you want to see more images and projects go to project section. In project section, I mentioned detail about my projects with images and videos...</p>
        <button><a href="/projects">Check out Projects in Detail</a></button>
    </div> -->
</div>

<script>
    function myFunction() {
  var dots = document.getElementById("dots");
  var moreText = document.getElementById("more");
  var btnText = document.getElementById("myBtn");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Read more";
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Read less";
    moreText.style.display = "inline";
  }
}


</script>