<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>skills-set</title>
    <script src="https://kit.fontawesome.com/b37c45463e.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@500&family=Inconsolata:wght@200;500&family=Kalam&family=Lobster&family=Noto+Sans:ital@1&family=Signika:wght@500&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/images/b55c301a1a084bf5a4028840ad1e93bf.png">
    <link rel="stylesheet" href="/static/css/skill.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <%- include('./partials/NavbarOne')  %>

    <h1>Skills</h1>
    <br>
    <div class="sill_container" id="htmlfive">
        <p class="skill_name_cont">
            <span class="skill_name">HTML 5 </span>
        </p>
        <p class="about_skill">
            Good at HTML5 : 90% 
        </p>
        <p class="chartofgoogle">
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" style="width: 90%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </p>
    </div>
    <br>
    <div class="sill_container" id="nodejs">
        <p class="skill_name_cont">
            <span class="skill_name">Node.js  </span><i class="fa-brands fa-node"></i>
        </p>
        <p class="about_skill">
            Good at Node.js  : 88% 
        </p>
        <p class="chartofgoogle">
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 88%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </p>
    </div>
    
    <br>
    <div class="sill_container" id="javascript">
        <p class="skill_name_cont">
            <span class="skill_name">JavaScript <i class="fa-brands fa-square-js"></i></span>
        </p>
        <p class="about_skill">
            Good at JavaScript : 80% 
        </p>
        <p class="chartofgoogle">
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" style="width: 80%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </p>
    </div>
    <br>
    <div class="sill_container" id="reactbootstrap">
        <p class="skill_name_cont">
            <span class="skill_name">React BootStrap </span><i class="fa-brands fa-react"></i> <i class="fa-solid fa-plus"></i> <i class="fa-brands fa-bootstrap"></i>
        </p>
        <p class="about_skill">
            Good at React BootStrap : 85% 
        </p>
        <p class="chartofgoogle">
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar" style="width: 85%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </p>
    </div>
    <br>
    <div class="sill_container" id="reactjs">
        <p class="skill_name_cont">
            <span class="skill_name">React.js</span><i class="fa-brands fa-react"></i>
        </p>
        <p class="about_skill">
            Good at React.js  : 80% 
        </p>
        <p class="chartofgoogle">
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-primary progress-bar-animated" role="progressbar" style="width: 80%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </p>
    </div>
    <br>
    <div class="sill_container" id="expressjs">
        <p class="skill_name_cont">
            <span class="skill_name">Express.js </span> <i class="fa-solid fa-server"></i>
        </p>
        <p class="about_skill">
            Good at Express.js  : 95%
        </p>
        <p class="chartofgoogle">
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar" style="width: 95%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </p>
    </div>
    <br>
    <div class="sill_container" id="bootstrap">
        <p class="skill_name_cont">
            <span class="skill_name">BootStrap <i class="fa-brands fa-bootstrap"></i> || CSS3  <i class="fa-brands fa-css3-alt"></i> </span>
        </p>
        <p class="about_skill">
            Good at BootStrap : 97% 
        </p>
        <p class="chartofgoogle">
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar" style="width: 97%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </p>
    </div>
    <br>
    <div class="sill_container" id="mongodb">
        <p class="skill_name_cont">
            <span class="skill_name">MongoDB</span> <i class="fa-brands fa-envira fa-rotate-90"></i>
        </p>
        <p class="about_skill">
            Good at MongoDB  : 88%
        </p>
        <p class="chartofgoogle">
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width:88%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </p>
    </div>



    <%- include('./partials/fotter') %>
    
</body>
</html>