.fotterContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    padding: 5vh;
    margin-top: 13vh;
}

.fotterIcon span{
    border: 1px solid white;
    padding: 2vh;
    border-radius: 800px;
    margin: 5px;
}

.fotterIcon i{
    font-size: 26px;
    color: white;
    
}

#commenticon,
#githubicon,
#linkedinicon
{
    transition: 0.2s linear;
}

.fotter_first ul li{
    list-style-type: none;
    
}

.fotter_first ul li a{
    color: white;
}

.fotter_middle p{
    color: white;
    transition: 0.3s linear;
    
}

#tick{
    color: red;
    font-size: 22px;
}

#lastTagnikfolio{
    color: red;
    font-size: 22px;
}

.fotter_first li:hover a{
    color: green;
}


@media  screen and (max-width:800px){
    .fotterIcon{
        display: none;
    }
    #tick{
        font-size: 16px;
    }
}

