*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 18vh;
    width: 100%;
    background-color:  rgb(249, 227, 103);
    color: black;
    padding: 10vh;
}

.footerOne i{
    font-size: 29px;
    margin: 3px;
    color: rgb(87, 48, 123);

}

.footerSecond{
    text-align: center;
}

.footerThree li,
.footerThree a{
    color: rgb(87, 48, 123);
    font-weight: 700;

}

.groupOfskill button{
    margin: 7px;
    padding: 5px;
    border:2px solid rgb(148, 127, 8);
    border-radius: 9px;
    color:rgb(87, 48, 123); 
    font-weight: 700;
}

.groupOfskill button:hover{
    cursor: pointer;
}

