@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@500&family=Inconsolata:wght@200;500&family=Kalam&family=Lobster&family=Noto+Sans:ital@1&family=Satisfy&family=Signika:wght@500&family=Tilt+Prism&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.staticmessage{
    width: 55px;
    height: 55px;
    border: 2px solid blue;
    text-align: center;
    padding: 10px;
    border-radius: 50px;
    position: fixed;
    bottom: 25px;
    right: 30px;
}

.staticmessage i,
.submitbutton i{
    font-size: 25px;
    cursor: pointer;
}

.staticmessagecontainer{
    width: 40%;
    height: 290px;
    border: 2px solid blue;
    text-align: center;
    border-radius: 10px;
    display: none;
    position: fixed;
    bottom: 55px;
    background-color: white;
    right: 25px;
    padding: 2vh;
}

.staticmessagecontainer form input{
    margin-bottom: 2vh;
    width:80%;
    padding: 5px 9px;
    font-size: 17px;
    height: 30px;
    border: none;
    border-bottom: 1px solid blue;
}

.staticmessagecontainer form input:focus{
    outline: none;
}

.staticmessagecontainer .submitbutton{
    width: 55px;
    height: 55px;
    border: 2px solid blue;
    text-align: center;
    padding: 10px;
    border-radius: 50px;
    position: fixed;
    bottom: 25px;
    right: 95px;

}

#messageInput{
    height: 70px;
}

#success{
    background-color: rgb(119, 244, 119);
    position: fixed;
    color: black;
    bottom: 35px;
    border-radius: 10px;
    padding: 5px 9px;
    right: 99px;
    z-index: -1000;

}

#adminButton,
#submitDeveloperData,
#showpassDeveloperdata{
    margin-top: 15px;
    padding: 3px 15px;
    border-radius: 5px;
    position: relative;
    left: 15px;
    bottom: 25px;
   
}

.admin_container{
    border: 2px solid grey;
    border-radius: 5px ;
    height: auto;
    width: 40%;
    margin: auto;
    padding: 20px 15px;
    margin-top:15vh;
}

.admin_container form input{
    margin: 10px;
}

#maincontent{
    display: block;

}

#developercontent_form{
    display: none;
}







@media screen and (max-width:800px){
    #success{
        bottom: 62px;
        margin: auto;
    }
    .staticmessage{
        bottom: 53px;
        z-index: +50000;
        right: 22px;
    }
    .staticmessagecontainer{
        width: 90%;
        height: 60vh;
        z-index: +50000;
        bottom: 70px;
        right: 20px;

    }
    .staticmessagecontainer .submitbutton{
        bottom: 53px;
    }

}