.messageContainer{
    width: 100%;
    text-align: center;
}

.message{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 45%;
    margin: auto;
}

.message a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    /* color: rgb(170, 170, 241); */
    margin: 2vh;
}

.message a i{
    font-size: 25px;
}

#email{
    background-color: rgb(170, 170, 241);
    padding: 3vh;
    border-radius: 90px;
    transition: 0.1s linear;
}

#call{
    background-color: rgb(170, 170, 241);
    padding: 2vh;
    border-radius: 10px;
    transition: 0.1s linear;
}


#email:hover,
#call:hover{
    border: 3px solid blue;
    
}

@media screen and (max-width:800px){
    .message{
        width: 100%;
    }

}