.topHome{
    border: 2px solid rgb(148, 127, 8);
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 8vh;
    position: relative;
    border-radius: 5px;
    margin-top: 4vh;
    transition: 0.5s linear;
}

.profilecontainer{
    width: 220px;
    height: 220px;
    border: 2px solid rgb(148, 127, 8);
    border-radius: 150px;
    margin: auto;
    transition: 0.5s linear;
    margin-top: 9vh;
}

.profilecontainer > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 150px;
    transition: 0.8s linear;

}

.profilecontainer:hover{
    width: 260px;
    height: 260px;
    border: 4px solid rgb(234, 218, 128);
    border-radius:15px;
    padding: 9px;
}
.profilecontainer:hover img{
    border-radius:15px;

}

.socialMedia{
    margin-top: 4vh;
    bottom: 4vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1vh;
}

.socialMedia a i{
    font-size: 25px;
    color: rgb(148, 127, 8);
}

.socialMedia a{
    font-weight: 400;
    color: rgb(148, 127, 8);
    transition: 0.7s linear;
    text-decoration: none;
}


.topHome:hover{
    border: 2px solid green;
}
.topHome:hover .socialMedia a{
    color: green;
    font-weight: 600;
}


@media screen and (max-width:768px){
    .topHome{
        border: none;
        padding: 4vh;
        
    }
    .topHome:hover{
        border: none;
    }

}